@use '@styles/variables' as myColor;

.MuiAutocomplete-root {
    display: inline-block;
    background-color: #{myColor.$textField-background-color};
    width: 40%;
}

.MuiAutocomplete-inputRoot {
    border: none;
    border-bottom: 2px solid myColor.$second-color;
}
