@use '@styles/variables' as myColor;

.nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 20px 0;

    font-size: 32px;
    font-weight: 700;
    color: myColor.$primary-color;

    border-bottom: 3px solid myColor.$second-color;
}
