$primary-color: #609966;
$second-color: #9dc08b;
$deep-color: #40513b;
$light-color: #edf1d6;
$code-background-color: #272727;
$code-row-color: #808080;

:export {
    --color-main: $primary-color;
}
