@use '@styles/variables' as myColor;

.inputField {
    width: 90%;
    border: 3px solid myColor.$second-color;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: #{myColor.$textField-background-color};
    outline: none;
    resize: none;
    overflow: hidden;
    cursor: default;
}

.submit-button {
    height: 30px;
    border: 3px solid myColor.$second-color;
    border-radius: 0 4px 4px 0;
    border-left: none;
    background-color: #{myColor.$second-color};
    color: #{myColor.$light-color};
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;

    &:hover {
        background-color: #{myColor.$primary-color};
        color: #{myColor.$deep-color};
    }
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #{myColor.$light-color};
}
